@font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
}
*{
    box-sizing: border-box;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
    font-family: "Poppins";
}
